:root{
    --nav-color:#212121;
    --nav-font-family: 'Roboto', 'Courier New', Courier, monospace; 
    --diff-color: #2196F3;
    --cut-color: #FFFFFF;
}
.global-body body{
    width: 1600px;
    height: 2348px;
    font-family: 'Roboto', 'Courier New', Courier, monospace, sans-serif;
    background-color: var(--cut-color);
    text-decoration: none;
}

.header header{
    width: 1600px;
    height: 80px;
    background-color: var(--cut-color);
}

.header a{
    color: #757575;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.navigation a{
    color: #212121;
}

.navigation a:hover,
.navigation a:active,
.navigation a:focus{
    color: var(--diff-color);
}

.current{
    color: var(--diff-color);
}

.email-contact:hover,
.email-contact:focus{
    color: var(--diff-color);
}

.buttons{
    border-radius: 4px;
    background: #F5F4FA;
    color: var(--nav-color);
    text-align: center;
    font-family: var(--nav-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: none;
    cursor: pointer;
}

.button-navigation li{
    list-style-type: none;
    
}

.buttons:active,
.buttons:hover,
.buttons:focus{
    background-color: var(--diff-color);
    color: #FFFFFF;
}

.portofoliu li{
    border: #EEEEEE;
    background-color: var(--cut-color);
    border-width: 1px;
    height: 404px;
    width: 370px;
    list-style-type: none;
}

.portofoliu h3{
    font-size: 18px;
    line-height: 18px;
    font-family: var(--nav-font-family);
    font-weight: 700;
    color: var(--nav-color);
    letter-spacing: 1.08px;
    width: 322px;
    height: 36px;
}

.portofoliu p{
    font-size: 16px;
    line-height: 30px;
    font-family: var(--nav-font-family);
    color: #757575;
    letter-spacing: 0.48px;
}

.footer-section{
    background-color: #2F303A;
}

.adress-section h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.email-contact{
    width: 231px;
    height: 16px;
    color: #FFFFFF99;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
}

.email-contact:hover,
.email-contact:focus{
    color: var(--diff-color);
}

.logo{
    color: #2196F3;
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration-line: none;
}

.studio-logo{
    color: var(--cut-color);
}

.studio{
    color: #000000;
}

.effective{
    background-color: #2F303A;
}

.effective h1{
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    color: #FFF;
    text-align: center;
    font-family: var(--nav-font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    padding: 200px 452px 280px 452px;
}

.request-button{ 
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: var(--nav-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border: none;    
}

.request-button:active,
.request-button:focus{
color: #2196F3;
}

.request-button:hover{
    color:#188CE8;
}

.descriptions h3{
    color: #212121;
    font-family: var(--nav-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.descriptions p{
    color: #757575;
    font-family: var(--nav-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%; 
    letter-spacing: 0.42px;
}

.ocupation h2{
    color: #212121;
    text-align: center;
    font-family: var(--nav-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.ocupation ul{
    list-style-type: none;
}

.our-team section{
    background-color: #F5F4FA;
    list-style-type: none;
}

.our-team h2{
    color: #212121;
    text-align: center;
    font-family: var(--nav-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.our-team li{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    color: var(--cut-color);
}

.our-team h3{
    font-size: 16px;
    font-family: var(--nav-font-family);
    font-weight: 500;
    color: var(--nav-color);
    text-align: center;
    letter-spacing: 0.48px;
}

.our-team p{
    font-size: 16px;
    font-family: var(--nav-font-family);
    color: #757575;
    text-align: center;
    letter-spacing: 0.48px;
}

